.pio
.vscode
platformio.ini

# ignorar los .gitignores de los proyectos "Versión tradicional/hidroponía" (auto-regenerados)
**/.gitignore

# ignorar las subcarpetas "include", "lib" y "test" de Platformio de los proyectos
**/Controlador/include
**/Controlador/lib
**/Controlador/test

**/src/Claves.h